body
{
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
}

h1
{
    font-size: 1.3em;
    font-weight: bold;
}

a
{
    text-decoration: none;
}

a:visited
{
    display: none;
}

/*Header*/ /*C'est bon sauf pour les problèmes de couleur et voir pour a:visited*/
@media all and (min-width: 768px) /*Tablettes, ordinateurs et grands écrans*/
{
    header
    {
        display: flex;
        justify-content: space-between;
        color: black
    }

    .tel
    {
        display: none;
    }

    nav ul li a:hover
    {
        border-top: #0065FC 1px solid;
        padding-top: 15px;
    }
    
    nav ul
    {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-content: center;
    }
    
    #inscrire_pc
    {
        font-weight: bold;
        color: #0065FC;
    }

    nav ul li a
    {
        text-decoration: none;
        margin: 10px;
    }
    nav ul li a:hover
    {
        color: #0065FC;
    }
}

@media all and (max-width: 767px) /*Téléphones*/
{
    header
    {
        border-bottom: #F2F2F2 2px solid;
        display: flex;
        flex-direction: column;
    }

    #ligne1_header
    {
        display: flex;
        justify-content: space-between;
    }

    #ligne2_header
    {
        display: flex;
        justify-content: space-around;
    }

    .pc
    {
        display: none;
    }

    #ligne2_header p a:hover
    {
        border-bottom: #0065FC 2px solid;
        color: #0065FC;
        padding-bottom: 15px;
    }

    #inscrire_tel
    {
        color: #0065FC;
        font-weight: bold;
    }
}


/*Search Bar*/
#search_bar
{
    position: relative;
    display: flex;
    align-items: center;
}

form
{
    display: flex;
}

#icone_search /*J'arrive pas à positionner l'icone au milieu de la boîte*/
{
    border: 1px #F2F2F2 solid;
    background: #F2F2F2;
    border-radius: 5px 0 0 5px;
    min-height: 30px;
    min-width: 30px;
    justify-content: center;
    align-items: center;
}

#search_keyword /*Sur tel, j'arrive pas à incurver la boite pour qu'elle épouse la forme du bouton*/
{
    border: solid #F2F2F2 1px;
    min-height: 30px;
}

#rechercher
{
    background-color: #0065FC;
    color: white;
    margin-left: 0%;
    border: none;
    border: #0065FC solid 1px;
    border-radius: 0 5px 5px 0;
    min-height: 30px;
}

#icone_rechercher
{
    background-color: #0065FC;
    border: #0065FC solid 1px;
    border-radius: 5px/5px;
    min-height: 30px;
}

@media all and (max-width: 992px) /*Téléphones et tablettes*/
{
    #rechercher
    {
        display: none;
    }
}

@media all and (min-width: 992px) /*Ordinateurs et grands écrans*/
{
    #icone_rechercher
    {
        display: none;
    }
}

/*Filtres*/
#filters
{
    display: flex;
    justify-content: space-evenly;
}

.filter
{
    display: flex;
    border: solid #F2F2F2 1px;
    border-radius: 10px/10px;
}

.icone
{
    border: #F2F2F2 solid 1px;
    border-radius: 10px/10px;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
}

#filters p
{
    font-weight: bold;
}

.filter p
{
    font-weight: bold;
}

#info
{
    display: flex;
}

#icone_info
{
    border: #f2f2f2 solid 1px;
    border-radius: 10px/10px;
}

/*Hébergements*/
.far\ fa-star, .fas\ fa-star
{
    color: #0065FC;
}

#hebergements
{
    display: flex;
}

#hebergements_marseille /*CA NE MARCHE PAS*/
{
    display: flex;
    background: #F2F2F2;
    max-width: 66%;
    flex-wrap: wrap;
    border: #F2F2F2 10px solid;
    border-radius: 10px/10px;
}

aside
{
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
    max-width: 33%;
    border-radius: 10px/10px;
}

.card2
{
    background: white;
}

.carte_herbergement
{
    object-fit: none;
    max-width: 33%;
    position: relative;
    overflow: hidden;
    border: solid #F2F2F2 1px;
    border-radius: 10px/10px;
}

.card1
{
    background: white;
    color: black;
    align-self: flex-end;
    max-height: 33%;
}

#cannebiere
{
    background: url(Projet\ 2\ -\ Reservia/images/hebergements/4_small/cannebiere_s.jpg) no-repeat;
}

#hotel_port
{
    background: url(Projet\ 2\ -\ Reservia/images/hebergements/4_small/hotel_port_s.jpg) no-repeat;
    position: relative;
}

#hotel_mouettes
{
    background: url(Projet\ 2\ -\ Reservia/images/hebergements/4_small/hotel_mouettes_s.jpg) no-repeat;
    position: relative;
}

#hotel_mer
{
    background: url(Projet\ 2\ -\ Reservia/images/hebergements/4_small/hotel_mer_s.jpg) no-repeat;
    position: relative;
}

#auberge_panier
{
    background: url(Projet\ 2\ -\ Reservia/images/hebergements/4_small/hotel_panier_s.jpg) no-repeat;
    position: relative;
}

#hotel_amina
{
    background: url(Projet\ 2\ -\ Reservia/images/hebergements/4_small/hotel_amina_s.jpg) no-repeat;
    position: relative;
}

#soleil_matin
{
    background: url(Projet\ 2\ -\ Reservia/images/hebergements/4_small/hotel_soleil_s.jpg) no-repeat;
    position: relative;
}

#coeur_eau
{
    background: url(Projet\ 2\ -\ Reservia/images/hebergements/4_small/coeur_eau_s.jpg) no-repeat;
    position: relative;
}

#bleu_blanc
{
    background: url(Projet\ 2\ -\ Reservia/images/hebergements/4_small/hotel_bleu_s.jpg) no-repeat;
    position: relative;
}

/*Activités*/
.carte_activite
{
    object-fit: none;
    overflow: hidden;
    border-radius: 10px/10px;
    position: relative;
    max-width: 25%;
}

.activity_name
{
    background-color: white;
    /*align-self: flex-end; /*ca ne marche pas*/*/
    /*position: fixed;
    bottom: 100px;*/
}

#vieux_port
{
    background: url(Projet\ 2\ -\ Reservia/images/activites/4_small/vieux_port_s.jpg) no-repeat;
    position: relative;
}

#fort_pomegues
{
    background: url(Projet\ 2\ -\ Reservia/images/activites/4_small/fort_pomegues_s.jpg) no-repeat;
    position: relative;
}

#iles_frioul
{
    background: url(Projet\ 2\ -\ Reservia/images/activites/4_small/iles_frioul_s.jpg) no-repeat;
    position: relative;
}

#parc_calanques
{
    background: url(Projet\ 2\ -\ Reservia/images/activites/4_small/parc_calanques_s.jpg) no-repeat;
    position: relative;
}

#notre_dame
{
    background: url(Projet\ 2\ -\ Reservia/images/activites/4_small/notre_dame_s.jpg) no-repeat;
    position: relative;
}

#parc_longchamps
{
    background: url(Projet\ 2\ -\ Reservia/images/activites/4_small/parc_longchamps_s.jpg) no-repeat;
    position: relative;
}

/*Footer*/
footer
{
    background: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
}

.liste_footer
{
    margin-right: 18%;
}

div h3 + ul
{
    list-style: none;
    padding-inline-start: 0px;
}