body
{
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
}

h1
{
    font-size: 1.3em;
    font-weight: bold;
}

h2
{
    font-size: 1.2em;
    font-weight: bolder;
}

a
{
    text-decoration: none;
}

a:visited
{
    display: none;
}

.icone_blue
{
    color: #0065FC;
}

.icone_grey
{
    color: #F2F2F2;
}

/*Header*/ /*FINI -- Validé en mentorat*/
@media all and (min-width: 768px) /*Tablettes, ordinateurs et grands écrans*/
{
    header
    {
        display: flex;
        justify-content: space-between;
        color: black
    }

    .tel
    {
        display: none;
    }

    nav ul li a:hover
    {
        border-top: #0065FC 1px solid;
        padding-top: 15px;
    }
    
    nav ul
    {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-content: center;
    }
    
    #inscrire_pc
    {
        font-weight: bold;
        color: #0065FC;
    }

    nav ul li a
    {
        text-decoration: none;
        color: black;
        margin: 10px;
    }
    nav ul li a:hover
    {
        color: #0065FC;
    }
}

@media all and (max-width: 767px) /*Téléphones*/
{
    header
    {
        border-bottom: #F2F2F2 2px solid;
        display: flex;
        flex-direction: column;
    }

    #ligne1_header
    {
        display: flex;
        justify-content: space-between;
    }

    #ligne2_header
    {
        display: flex;
        justify-content: space-around;
    }

    .pc
    {
        display: none;
    }

    #ligne2_header p a:hover
    {
        border-bottom: #0065FC 2px solid;
        color: #0065FC;
        padding-bottom: 15px;
    }

    #inscrire_tel
    {
        color: #0065FC;
        font-weight: bold;
    }

    #ligne2_header p a
    {
        color: black;
    }
}


/*Search Bar*/ /*FINI*/
#search_bar
{
    display: flex;
    align-items: center;
}

form
{
    display: flex;
}

#icone_search
{
    border: 1px #F2F2F2 solid;
    background: #F2F2F2;
    border-radius: 12px 0 0 12px;
    height: 1.7em;
    width: 1.4em;
    justify-content: center;
    align-items: center;
    padding-left: 0.7em;
    padding-top: 0.6em;
    padding-bottom: 0.05em;
}

#search_keyword
{
    border: solid #F2F2F2 1px;
    height: 3em;
    padding-left: 0.5em;
}

#rechercher
{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    margin-left: 0%;
    border: none;
    border: #0065FC solid 1px;
    border-radius: 0 12px 12px 0;
    height: 3em;
}

#icone_rechercher
{
    background-color: #0065FC;
    border: #0065FC solid 1px;
    border-radius: 12px/12px;
    height: 3em;
    width: 3em;
}

@media all and (max-width: 992px) /*Téléphones et tablettes*/
{
    #rechercher
    {
        display: none;
    }
}

@media all and (min-width: 992px) /*Ordinateurs et grands écrans*/
{
    #icone_rechercher
    {
        display: none;
    }
}

/*Filtres*/ /*FINI*/
#filters
{
    display: flex;
    flex-wrap: wrap;
}

.filter
{
    display: flex;
    border: solid #f2f2f2 2px;
    border-radius: 33px/39px;
    margin-right: 30px;
    border-left: none;
    flex-wrap: wrap;
}

.icone
{
    border: none;
    border-radius: 23px/25px;
    background-color: #0065fc21;
    align-items: center;
    padding-top: 1em;
    width: 3.3em;
    text-align: center;
}

#filters p
{
    font-weight: bold;
    margin-right: 15px;
    margin-left: 15px;
    color: black;
    margin-left: 0.4em;
}

.filter p
{
    font-weight: bold;
    color: black;
}

@media all and (max-width: 767px)
{
    #p_filtre
    {
        width: 767px;
    }
}

/*Info*/ /*FINI*/

#info
{
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}

#icone_info
{
    border: #f2f2f2 solid 1px;
    border-radius: 20px/20px;
    color: #0065FC;
    height: 1.4em;
    width: 1em;
    margin-top: 0.8em;
    margin-right: 0.7em;
    padding-left: 0.6em;
    padding-top: 0.15em;
}

.filter .icone
{
    color: #0065FC;
}

/*Hébergements*/
#hebergement
{
    display: flex;
    position: relative;
}

#hebergement_marseille
{
    display: flex;
    position: relative;
    flex-direction: column;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

aside
{
    display: flex;
    position: relative;
    flex-direction: column;
    background: #F2F2F2;
    border-radius: 25px/25px;
    padding-left: 5px;
    justify-content: space-between;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

#entete_aside
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.fas\ fa-chart-line
{
    align-self: flex-end;
}*//*Fonctionne pas*/

.card2
{
    background: white;
    height: 12em;
    width: 60%;
    padding-left: 0.5em;
    font-size: 0.9em;
}

.carte_herbergement
{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: solid #F2F2F2 1px;
    border-radius: 25px/25px;
    border: white 4px solid;
    box-shadow: #E6E6E6 6px 6px 4px;
    height: 11em;
}

.hebergement_pop
{
    display: flex;
    flex-direction: row;
    height: 7em;
    border: white 4px solid;
    border-radius: 25px/25px;
    margin-top: 1em;
    overflow: hidden;
    box-shadow: #E6E6E6 6px 6px 4px;
}

.card1
{
    background: white;
    height: 5em;
    font-size: 0.9em;
    padding-left: 0.5em;
}

.card1 p
{
    color: black;
}

.card1 p:nth-child(1)
{
    font-weight: bold;
}

.card2 p
{
    color: black;
}

.card2 p:nth-child(1)
{
    font-weight: bold;
}

.photo_hebergement
{
    height: 7em;
    overflow: hidden;
    object-fit: scale-down;
}

.photo_pop
{
    height: 7em;
    overflow: hidden;
    width: 40%;
}

.photo_heb
{
    height: 40em;
    margin-bottom: 20em;
}

@media all and (min-width: 992px) /*Ordinateurs et grands écrans*/
{
    #cannebiere, #hotel_port, #hotel_mouettes, #hotel_mer, #auberge_panier, #hotel_amina
    {
        display: flex;
        flex-direction: column;
        width: 30%;
    } 

    #ligne2_hebergement
    {
        flex-wrap: wrap;
    }
    
    #hebergement
    {
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    #hebergement_marseille
    {
        background-color: #F2F2F2;
        border: #F2F2F2 1px solid;
        border-radius: 25px/25px;
        margin-right: 2.5em;
        margin-left: 0.5em;
        width: 75%;
        flex-wrap: wrap;
    }

    aside
    {
        width: 25%;
    }

    #ligne2_hebergement, #ligne3_hebergement
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2em;
    }

    #ligne1_hebergement
    {
        margin-bottom: 1em;
    }

    .carte_herbergement:nth-child(1), .carte_herbergement:nth-child(2)
    {
        margin-right: 1.5em;
    }

    #cannebiere img
    {
        width: 15em;
    }
}

@media all and (max-width: 991px) /*Téléphones et tablettes*/
{
    #hebergement
    {
        flex-direction: column-reverse;
    }
    
    #ligne2_hebergement, #ligne3_hebergement
    {
        display: flex;
        flex-direction: column;
    }

    .carte_herbergement
    {
        margin-bottom: 1em;
    }

    .hebergement_pop
    {
        height: 12em;
    }

    .photo_pop
    {
        height: 12em;
    }

    .card2
    {
        height: 12em;
    }

    #soleil_matin img, #coeur_eau img
    {
        height: 12em;
    }

    #bleu_blanc img
    {
        align-self: flex-start;
        height: 25em;
        margin-top: 0em;
        margin-bottom: 40em;
    }
}

/*Activités*/
#activities
{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 2em;
    padding-right: 2em;
}

#titre_activities
{
    margin-top: 2em;
    margin-bottom: 1em;
}

#corps_activities
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: 3em;
}

.carte_activite
{
    object-fit: contain;
    overflow: hidden;
    border-radius: 25px/25px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: #E6E6E6 6px 6px 4px;
    margin-right: 2em;
}

.activity_name
{
    background-color: white;
    color: black;
    font-weight: bold;
    /*margin-top: 0px;*/
    height: 3em;
    padding-left: 1em;
}

@media all and (min-width: 992px) /*Ordinateurs et grands écrans*/
{
    .photo_activities_grand
    {
        height: 23em;
    }

    .photo_activities_petit
    {
        height: 9.5em;
    }

    #fort_pomegues, #notre_dame
    {
        margin-bottom: 1em;
    }

    .carte_activite
    {
        width: 18em;
    }
}

@media all and (max-width: 991px) /*Téléphones et tablettes*/
{
    #corps_activities
    {
        flex-direction: column;
        align-items: center;
    }

    .carte_activite
    {
        height: 12em;
        overflow: hidden;
        margin-bottom: 1em;
    }

    .photo_activities_grand, .photo_activities_petit
    {
        height: 9em;
    }

    #vieux_port img
    {
        height: 60em;
        width: 40em;
    }

    #fort_pomegues img
    {
        height: 70em;
        margin-bottom: 70em;
    }
}

/*Footer*/ /*Fini?*/
footer
{
    background: #F2F2F2;
    color: black;
    padding-left: 1.5em;
}

div h3 + ul
{   
    list-style: none;
    padding-inline-start: 0px;
}

.liste_footer ul li a
{
    color: black;
}

.liste_footer ul li a:hover
{
    color: #0065FC;
}

.liste_footer ul li
{
    padding-bottom: 1.2em;
}

.liste_footer
{
    width: max-content;
}

@media all and (min-width: 768px) /*Tablettes, ordinateurs et grands écrans*/
{
    footer
    {
        display: flex;
        justify-content: space-evenly;
    }

    .liste_footer
    {
        margin-right: 18%;
    }
}

@media all and (max-width: 767px) /*Téléphones*/
{
    footer
    {
        display: flex;
        flex-direction: column;
    }
}